$color-main: #FFD366;
$color-dark: #424242;
$color-black: #000000;
$color-light: #F2F2F2;
$color-white: #FFFFFF;
$color-error: #ff607d;

$color-underweight: #31BAF9;
$color-normalweight: #86D73F;
$color-overweight: #FF982D;
$color-slightobesity: #FF6C02;
$color-middleobesity: #FF6C02;
$color-extremeobesity:#FF1200;