@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: #F2F2F2;
}

div {
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: center;
  background: #424242;
  padding: 40px 0px;
}

.header .wrap {
  display: flex;
  justify-content: space-between;
  height: 200px;
}

.header .wrap > div {
  width: 250px;
  margin-left: 5px;
  margin-right: 5px;
}

.header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .logo img {
  width: 120px;
}

.header .infos {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.header .infos .form-group {
  display: flex;
  flex-direction: column;
}

.header .infos .form-group label {
  color: #FFD366;
  padding-bottom: 5px;
}

.header .infos .form-group input {
  border: 2px solid #FFD366;
  color: #FFFFFF;
  border-radius: 6px;
  width: 220px;
  background: rgba(255, 255, 255, 0.18);
  font-size: 1.2rem;
  padding: 5px 10px;
  margin-bottom: 4px;
  outline: none;
  -webkit-appearance: none;
}

.header .infos .form-group input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.header .infos .form-group input[type=number]::-webkit-inner-spin-button, .header .infos .form-group input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.header .infos .form-group input[type=number] {
  -moz-appearance: none;
}

.header .infos .form-group input.error {
  border: 2px solid #ff607d;
  background: rgba(255, 96, 125, 0.15);
}

.header .infos .form-group + .form-group {
  margin-top: 30px;
}

.header .btnBox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header .btnBox .btn-calculator {
  box-sizing: border-box;
  color: #424242;
  font-size: 1.7rem;
  line-height: 2rem;
  height: 120px;
  width: 120px;
  background: #FFD366;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 0px;
}

.header .btnBox .btn-calculator:hover {
  box-shadow: 0 1px 6px 3px rgba(255, 195, 49, 0.64);
}

.header .btnBox .result {
  width: 115px;
  height: 115px;
  position: relative;
  font-size: 24px;
  border: 5px solid #424242;
  border-radius: 100%;
  color: #424242;
  display: none;
  flex-flow: column;
  justify-content: center;
}

.header .btnBox .result .bmi-num {
  margin-top: -10px;
  font-size: 1.8rem;
  position: relative;
  text-align: center;
}

.header .btnBox .result .bmi-num::after {
  content: 'BMI';
  font-size: 1.2rem;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.header .btnBox .result .bmi-messages {
  white-space: nowrap;
  position: absolute;
  top: 50%;
  left: 110%;
  transform: translateY(-50%);
  font-size: 1.8rem;
  font-weight: 600;
}

.header .btnBox .result .icon_loop {
  display: block;
  text-decoration: none;
  position: absolute;
  right: -5px;
  bottom: -5px;
  background-color: #424242;
  border: 3px solid #424242;
  width: 32px;
  height: 32px;
  color: #FFD366;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform .8s;
}

.header .btnBox .result .icon_loop:hover {
  transform: rotate(180deg);
}

.header .btnBox .result .icon_loop i {
  color: #424242;
}

.header .btnBox .result.underweight {
  color: #31BAF9;
  border-color: #31BAF9;
}

.header .btnBox .result.underweight .icon_loop {
  background-color: #31BAF9;
}

.header .btnBox .result.normalweight {
  color: #86D73F;
  border-color: #86D73F;
}

.header .btnBox .result.normalweight .icon_loop {
  background-color: #86D73F;
}

.header .btnBox .result.overweight {
  color: #FF982D;
  border-color: #FF982D;
}

.header .btnBox .result.overweight .icon_loop {
  background-color: #FF982D;
}

.header .btnBox .result.slightobesity, .header .btnBox .result.middleobesity {
  color: #FF6C02;
  border-color: #FF6C02;
}

.header .btnBox .result.slightobesity .icon_loop, .header .btnBox .result.middleobesity .icon_loop {
  background-color: #FF6C02;
}

.header .btnBox .result.extremeobesity {
  color: #FF1200;
  border-color: #FF1200;
}

.header .btnBox .result.extremeobesity .icon_loop {
  background-color: #FF1200;
}

.header .btnBox.active .btn-calculator {
  display: none;
}

.header .btnBox.active .result {
  display: flex;
}

.content {
  padding-top: 40px;
  font-size: 1.2rem;
  color: #424242;
  min-height: calc(100vh - (337px + 50px));
  display: flex;
  justify-content: center;
}

.content h3 {
  font-size: 1.6rem;
  text-align: center;
}

.content .wrap {
  min-width: 680px;
}

.content .records {
  padding-top: 20px;
  max-height: 450px;
  overflow-y: auto;
}

.content .records li + li {
  margin-top: 20px;
}

.content .records .record-list {
  position: relative;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  padding-right: 10px;
}

.content .records .record-list div:before {
  display: inline-block;
  font-size: 12px;
  margin-right: 7px;
  transform: translateY(-2px);
}

.content .records .record-list-status {
  min-width: 100px;
  padding-left: 25px;
}

.content .records .record-list-status .tag {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 7px;
  background-color: #86D73F;
  box-shadow: 1px 0 5px #86d73f;
}

.content .records .record-list-bmi {
  position: relative;
  width: 80px;
  text-align: right;
}

.content .records .record-list-bmi::before {
  content: 'BMI';
}

.content .records .record-list-weight {
  position: relative;
  width: 100px;
  text-align: right;
}

.content .records .record-list-weight::before {
  content: 'weight';
}

.content .records .record-list-height {
  position: relative;
  width: 130px;
  text-align: right;
}

.content .records .record-list-height::before {
  content: 'height';
}

.content .records .record-list-date {
  font-size: .8rem;
}

.content .records .record-list-btn .delete {
  color: #424242;
  opacity: .2;
}

.content .records .record-list-btn .delete:hover {
  opacity: 1;
}

.content .records .record-list.underweight .tag {
  background-color: #31BAF9;
  box-shadow: 1px 0 5px #31baf9;
}

.content .records .record-list.normalweight .tag {
  background-color: #86D73F;
  box-shadow: 1px 0 5px #86d73f;
}

.content .records .record-list.overweight .tag {
  background-color: #FF982D;
  box-shadow: 1px 0 5px #ff982d;
}

.content .records .record-list.slightobesity .tag, .content .records .record-list.middleobesity .tag {
  background-color: #FF6C02;
  box-shadow: 1px 0 5px #ff6c02;
}

.content .records .record-list.extremeobesity .tag {
  background-color: #FF1200;
  box-shadow: 1px 0 5px #ff1200;
}

.content .clearBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 35px auto;
  padding: 8px 20px;
  border-radius: 5px;
  transition: all 0.12s linear;
  font-size: 16px;
  border: 0;
  cursor: pointer;
  background: rgba(66, 66, 66, 0.4);
  color: #F2F2F2;
}

.content .clearBtn i {
  margin-top: -3px;
  margin-right: 5px;
  vertical-align: middle;
}

.content .clearBtn:hover {
  background: #424242;
}

.footer {
  background: #FFD366;
  padding: 25px 0px;
  text-align: center;
}

.footer img {
  width: 55px;
  height: 55px;
}
/*# sourceMappingURL=main.css.map */